# Mac OS
.DS_Store
/.Trash
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public

# Top Level
/.CFUserTextEncoding
/.Trash
/.anyconnect
/.autorest
/.aws
/.azure
/.base16_theme
/.bash_history
/.bash_sessions
/.bokeh
/.bundle
/.cargo
/.cisco
/.conda
/.cups
/.config
/.docker
/.dropbox
/.emscripten*
/.gem
/.intake
/.ipython
/.jupyter
/.keras
/.matplotlib
/.npm/
/.npmrc
/.pylint.d
/.python_history
/.serverless
/.ssh
/.v8flags*
/.vim
/.viminfo
/.vscode/extensions
/.VSCodeVim/
/.zcompdump*
/.zhistory*
/.zsh_history*

# Personal
/Google Drive
/Dropbox
/anaconda
/anaconda3
/bin/grin
/forks
/tmp
/work

# Work
/.IdentityService/
/.android
/.dotnet
/.local
/.mono
/.ms_openjdk_config
/.net
/.node_repl_history
/.nuget
/.psql_history
/Applications (Parallels)/
/Parallels
/dbtmp

*.swp
