# Mac OS
.DS_Store
/.Trash
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public

# Top Level
/.CFUserTextEncoding
/.Trash
/.anyconnect
/.bash_history
/.bash_sessions
/.bokeh
/.cisco
/.conda
/.cups
/.config
/.docker
/.dropbox
/.ipython
/.jupyter
/.keras
/.matplotlib
/.npm/
/.npmrc
/.pylint.d
/.python_history
/.ssh
/.v8flags*
/.vim
/.viminfo
/.vscode/extensions
/.VSCodeVim/
/.zcompdump*
/.zhistory*
/.zsh_history*

# Personal
/Google Drive
/Dropbox
/anaconda
/forks
/tmp
/work

*.swp
